body{
	background: #FA98FF url('../img/bg.png');
	padding: 5px 0;
}
.wraper{
	background: #FA98FF;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(50, 50, 50, 0.61);
	-moz-box-shadow:    0px 0px 10px -1px rgba(50, 50, 50, 0.61);
	box-shadow:         0px 0px 10px -1px rgba(50, 50, 50, 0.61);
}
header{
	margin-top: 2px;
}
.headerLogo{
	
}
.headerLogo a{
	background-image: url(../img/headerLogoLg.png);
	background-repeat: no-repeat;
	background-position: left middle;
	width: 100%;
	height: 70px;
	display: inline-block;
}
.headerLogo a h1{
	font-size: 0px;
	color: transparent;
}

.headerButtons{
	padding-top: 7px;
}
.headerButtons .btnTopMenu,
.headerButtons .btnTopMenu:visited{
	padding: 20px;
	font-size: 16px;
	height: 58px;
	background: #ff26ff;
	border: solid #3e1865;
	border-width: 1px 1px 1px 0;
	color: #fff;
	text-shadow: none;
}
.headerButtons button.btnTopMenu{
	border: solid #3e1865;
	border-width: 1px 1px 1px 1px;
}

.headerButtons .btnTopMenu:hover{
	background-image: linear-gradient(to bottom, #D700D7 0, #ff26ff 100%);
	border: solid #3e1865;
	border-width: 1px 1px 1px 0;
	color: #fff;
}

.headerButtons button.btnTopMenu:hover{
	border: solid #3e1865;
	border-width: 1px 1px 1px 1px;
}

.headerUserActions .dropdown{
	margin-left: 200px;
}
.headerUserActions button{
	box-shadow: none;
}
.headerUserActions a.btnTopMenu{
	margin: 12px;
}
.headerUserActions .btn-group .btn-group button{
	height: 62px;
	font-size: 14px;
	background: none;
	border: none;
	color: #666;
}

header .navbar{
	margin-bottom: 5px;
}

header .navbar-inverse {
	background-image: linear-gradient(to bottom, #D700D7 0, #ff26ff 100%);
	border-color: #3e1865;
}

header .navbar-inverse .navbar-nav>.open>a, 
header .navbar-inverse .navbar-nav>.active>a{
	background-image: linear-gradient(to bottom, #D700D7 0, #ff26ff 100%);
}
header .navbar-inverse .navbar-nav>li{
	min-width: 70px;
}
header .navbar-inverse .navbar-nav>li>a{
	color: #fff;
	text-align: center;
	font-size: 16px;
}
header .navbar-inverse .navbar-nav>li>a:hover{
	background-image: linear-gradient(to bottom, #ff26ff 0, #FA98FF 100%);
}

.escortListItem{
	margin: 5px 0;
}
.escortListItem img{
	width: 100%;
}
.escortListItem .icons{
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.escortListItem .iconShowPreviewProfile{
	color: #fff;
	font-size: 42px;
	float: left;
	margin-left: 40%;
	margin-top: 40%;
	display: none;
}

.escortListItem .iconShowIsFeatured{
	color: #fff;
	font-size: 24px;
	float: right;
	margin-right: 10px;
}

.escortListItem:hover .iconShowPreviewProfile{
	display: inline-block;
}

.escortListItemNormal .iconShowPreviewProfile{
	font-size: 28px;
	margin-top: 36%;
	margin-left: 40%;
}

#headerListSection{
	margin: 10px 0;
	background-color: #D700D7;
}
#headerListSection img{
	margin: 5px;
	width: 100px;
	height: 150px;
}

footer{
	margin-bottom: 2px;
	background-image: linear-gradient(to bottom, #D700D7 0, #ff26ff 100%);
	color: #fff;
	padding: 10px;
}
footer a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
footer a:hover{
	color: #fff;
	text-decoration: underline;
}

.panel-primary{
	border: solid 1px #ff26ff;
}
.panel-heading{
	background: #D700D7 !important;
	border-bottom: solid 1px #ff26ff !important;
	font-weight: bold;
	font-size: 15px;
}
.panel-body{
	background: #FFBFFF;
}

.btn-primary{
	background: #D700D7;
	border: solid 2px #D700D7;
	background-image: linear-gradient(to bottom, #D700D7 0, #ff26ff 100%);
}

.panelEscorts .panel-body{
	padding: 2px;
}

.panel-heading .lead{
	margin: 0;
}

[data-toggle="tooltip"]{
	cursor: pointer;
}

.well{
	margin-bottom: 0;
}




#sharebox{
	z-index: 9999;
  margin: 10px;
}

#shareme .box{
	z-index: 9999;
  margin:5% 8% 0 8%;
  width:100%;
}
#shareme .box a{
	z-index: 9999;
  color:#404040;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  border-right:2px solid #57b8d1;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
	z-index: 9999;
  margin-left:10px;
  font-size:20px;
  width:82px;
}
#shareme .buttons {
	z-index: 9999;
  position: absolute;
  width:294px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
	z-index: 9999;
  float: left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
	z-index: 9999;
  margin:0 4px 0 0;
}


#dvPublicaMe{
	padding-top: 20px;
}



.mobileLocationDropdown .dropdown-menu{
	display: block;
	top: 10px;
	background: transparent;
	color: #fff;
	box-shadow: none;
	border: none;
}

.mobileLocationDropdown .dropdown-menu>li>a{
	color: #fff;
	font-size: 20px;
}